<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="utf-8">
    <title>books</title>
</head>
<body>

<div layout:fragment="admin_content">
    <div class="container">
        <div class="card mt-4 mb-4">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img th:src="@{${book.getImageUrl()}}" width="180" height="220"/>
                    </div>
                    <div class="col-8">
                        <h3 class="card-title" th:text="${book.getBookName()}">name</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>id</td>
                        <td th:text="${book.getId()}">id</td>
                    </tr>
                    <tr>
                        <td>created</td>
                        <td th:text="${#calendars.format(book.getCreated(),'dd MMMM yyyy')}">id</td>
                    </tr>
                    <tr>
                        <td>updated</td>
                        <td th:text="${#calendars.format(book.getUpdated(),'dd MMMM yyyy')}">id</td>
                    </tr>
                    <tr>
                        <td>visible</td>
                        <td th:text="${book.getVisible()}">id</td>
                    </tr>
                    <tr>
                        <td>page size</td>
                        <td th:text="${book.getPageSize()}">id</td>
                    </tr>
                    <tr>
                        <td>publication date</td>
                        <td th:text="${book.getPublicationDate()}">id</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td th:text="${'$' + book.getPrice()}">id</td>
                    </tr>
                    <tr>
                        <td>quantity</td>
                        <td th:text="${book.getQuantity()}">id</td>
                    </tr>
                    <tr th:if="${book.getPublisher() != null}">
                        <td>publisher</td>
                        <td>
                            <a
                                    th:href="@{'/admin/publishers/' + ${book.getPublisher().getId()}}"
                                    th:text="${book.getPublisher().getName}"
                                    type="button" class="btn btn-link"></a>
                        </td>
                    </tr>
                    <tr th:if="${not #lists.isEmpty(book.getAuthors())}">
                        <td>authors</td>
                        <td>
                            <ul th:each="author : ${book.getAuthors()}">
                                <li>
                                    <a
                                            th:href="@{'/admin/authors/' + ${author.getId()}}"
                                            th:text="${author.getFirstName() + ' ' + author.getLastName()}"
                                            type="button" class="btn btn-link"></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr th:if="${not #lists.isEmpty(book.getGenres())}">
                        <td>authors</td>
                        <td>
                            <ul th:each="genre : ${book.getGenres()}">
                                <li>
                                    <a
                                            th:href="@{'/admin/genres/' + ${genre.getId()}}"
                                            th:text="${genre.getType()}"
                                            type="button" class="btn btn-link"></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td>
                            <p>
                                <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    show
                                </a>
<!--                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
<!--                                    Button with data-bs-target-->
<!--                                </button>-->
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <span th:text="${book.getDescription()}"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
