<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>New Department</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New Department</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/departments/new}" th:object="${department}" method="post">
                        <div class="form-group">
                            <label for="name">name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="type">Example select</label>
                            <select class="form-control" id="type" th:field="*{departmentType}">
                                <option th:each="type : ${types}"
                                        th:value="${type}"
                                        th:text="${type}">
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
