<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div layout:fragment="content">
        <div sec:authorize="isAuthenticated()">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <nav class="navbar navbar-dark bg-dark">
                    <a class="nav-item nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
                    <a class="nav-item nav-link" th:href="@{/admin/books}">Books</a>
                    <a class="nav-item nav-link" th:href="@{/admin/orders}">Orders</a>
                    <a class="nav-item nav-link" th:href="@{/admin/cards}">Cards</a>
                    <a class="nav-item nav-link" th:href="@{/admin/personals}">Personals</a>
                    <a class="nav-item nav-link" onclick="document.forms['logoutForm'].submit()" style="cursor: pointer !important;">Logout</a>
                </nav>
            </div>

            <div sec:authorize="hasRole('ROLE_PERSONAL')">
                <nav class="navbar navbar-dark bg-dark">
                    <a class="nav-item nav-link" th:href="@{/personal/dashboard}">Dashboard</a>
                    <a class="nav-item nav-link" th:href="@{/personal/books}">Books</a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <a class="nav-item nav-link" onclick="document.forms['logoutForm'].submit()" style="cursor: pointer !important;">Logout</a>
                </nav>
            </div>

            <div class="row" th:if="${showMessage}">
                <div class="col">
                    <div th:if="${message}" class="alert alert-primary alert-dismissible fade show" role="alert">
                        <span th:text="${message}">message text</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span th:text="${errorMessage}">message text</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:if="${warnMessage}" class="alert alert-dark alert-dismissible fade show" role="alert">
                        <span th:text="${warnMessage}">message text</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <section layout:fragment="auth_content"></section>
        </div>
    </div>
</div>
</body>
</html>