<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div layout:fragment="content">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="nav-item nav-link" th:href="@{/books}">Books</a>
            <form class="d-flex" method="POST" th:action="@{/books/search}" id="bookSearch">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="bookNamed">
                <button class="btn btn-outline-success" type="submit" id="btnBookSearch">Search</button>
            </form>
            <a class="nav-item nav-link" th:href="@{/login}" style="cursor: pointer !important;">Login</a>
        </nav>
        <section layout:fragment="open_content"></section>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/search.js}"></script>
</th:block>

</body>
</html>