<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>New Book</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Sorry, something went wrong
                </div>
                <div class="card-body">
                    If you want to return to the previous page - <a href="#" th:onclick="|back()|" type="button" class="btn btn-light">click here</a>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</th:block>

</body>
</html>
